body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  color: white;
  margin: 1vw;
}

.app {
  background-color: #282c34;
  height: 1080px;
  width: 100%;
  background-image: url(./bg.png);
  background-repeat: repeat-y;
  background-size: cover;
}

.main-nav{
  text-align: right;
  margin-bottom: 50px;
  padding: 0 25px;
  background-color: #282c34;
}
.topnav-btn {
  background-color: #282c34;
  border: none;
  text-decoration: none;
  
}

.p-5{
  padding: 10vw !important;
  background-color: #282c34;
  align-self: center;
  max-height: 50%;
}

.mt-5{
  padding: 10vw !important;
  background-color: #282c34;
  align-self: center;
  max-height: 80%;
}

.submit {
  background-color:white;
  border: #191b1f;
  margin: 1vw;
}

.home-btn {
  background-color: #282c34;
  border: none;
  justify-items: left;
}

a {
  color: white !important;
  text-decoration: none;
  transition: all .25s ease;
}

a:hover {
  color: white !important;
  text-decoration: none;
}

.main-nav a {
  display: inline-block;
  padding: 25px 25px;
}

.topnav-btn {
  text-decoration: aliceblue;
}